Repository anandaworldwide/ananda-library-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": [
    "node scripts/typecheck.cjs",
    "npx jest --bail --findRelatedTests --passWithNoTests --no-coverage"
  ],
  "**/*.{js,jsx}": [
    "npx jest --bail --findRelatedTests --passWithNoTests --no-coverage"
  ]
}

Add comment.
  __tests__/utils/server/apiMiddleware.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Implement centralized API URL retrieval function. Updated secure API client to use this function for consistent URL handling. Simplified settings page messaging for clarity.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/secure-api-client.php
  wordpress/plugins/ananda-ai-chatbot/secure-api-test.php
Due: none

Update chatbot plugin: Increment version to 1.0.4, adjust default window width to 560px, and enhance message styles for better responsiveness. Implement versioning for CSS to improve cache management.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
Due: none

Remove debug statements.
  pages/_app.tsx
  pages/api/web-token.ts
  pages/login.tsx
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Fix chat history so it is actually passed to the AI code to give the history.
  app/api/chat/v1/route.ts
  hooks/useChat.ts
  pages/index.tsx
  utils/server/makechain.test.ts
  utils/server/makechain.ts
  utils/shared/chatHistory.ts
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Update chatbot plugin: Increment version to 1.0.5 for CSS and JS changes. Refactor script enqueuing to use the updated version constant for better cache management.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
Due: none

Fine-tune temperatures to be slightly less creative due to the drug comment on the Ananda chatbot
  site-config/config.json
Due: none

Remove Help link from footer in Ananda Public site configuration for cleaner UI.
  site-config/config.json
Due: none

Fix TypeScript issues and update test configuration
  TESTS-README.md
  TESTS-TODO.md
  __tests__/api/answers.test.ts
  __tests__/api/chat/v1/route.test.ts
  __tests__/api/chat/v1/streaming.test.ts
  __tests__/api/chat/v1/timing.test.ts
  __tests__/setup.ts
  __tests__/utils/mocks/apiTestMocks.ts
  __tests__/utils/server/genericRateLimiter.test.ts
  __tests__/utils/server/makechain.test.ts
  __tests__/utils/server/relatedQuestionsUtils.test.ts
  __tests__/utils/server/retrievalSequence.test.ts
  jest.config.cjs
  package-lock.json
  package.json
  tsconfig.test.json
  types/node-rake.d.ts
  utils/server/makechain.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Properly validate collections using site config.
  app/api/chat/v1/route.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Implement test for rate limiter reset functionality after window period. Update TESTS-TODO.md to reflect completion of this test.
  TESTS-TODO.md
  __tests__/utils/server/genericRateLimiter.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add rate limiting and related tests to a lot of APIs
  TESTS-TODO.md
  __tests__/api/answers.test.ts
  __tests__/api/audio.test.ts
  __tests__/api/audio/filename.test.ts
  __tests__/api/get-token.test.ts
  __tests__/api/logout.test.ts
  __tests__/api/model-comparison-export.test.ts
  __tests__/api/submitNpsSurvey.test.ts
  __tests__/api/web-token.test.ts
  __tests__/utils/mocks/apiTestMocks.ts
  pages/api/adminAction.ts
  pages/api/answers.ts
  pages/api/audio/[filename].ts
  pages/api/downvotedAnswers.ts
  pages/api/get-token.ts
  pages/api/logout.ts
  pages/api/model-comparison-data.ts
  pages/api/model-comparison-export.ts
  pages/api/model-comparison.ts
  pages/api/relatedQuestions.ts
  pages/api/secure-data.ts
  pages/api/stats.ts
  pages/api/submitNpsSurvey.ts
  pages/api/web-token.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Update Jest configuration to include additional setup files and add type definitions for DOMPurify and Jest DOM. This enhances testing capabilities and ensures proper type support across the project.
  __tests__/setup.ts
  jest.config.cjs
  package-lock.json
  package.json
  tsconfig.json
  types/dompurify.d.ts
  types/testing-library__jest-dom.d.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Fix the build.
  components/ChatInput.tsx
  next.config.js
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Trivial change to force a build.
  next.config.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add lotsa docs!
  docs/PRD.md
  docs/app-flow.md
  docs/backend-structure.md
  docs/file-structure.md
  docs/frontend-guidelines.md
  docs/tech-stack.md
Due: none

Rename the plugin to Ananda Intelligence.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Link to new docs in the docs directory.
  README.md
Due: none

New version number
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
Due: none

Reorganize documents.
  README.md
  TODO-TESTS.md
  docs/SECURITY-README.md
  docs/SECURITY-TODO.md
  docs/TESTS-README.md
  docs/TESTS-TODO.md
Due: none

First few cursor rules.
  .cursor/rules/javascript-typescript.mdc
  .cursor/rules/php.mdc
Due: none

Add an informational languages pop-up option so people know they can speak in any language to it.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Cursor rules.
  .cursor/rules/javascript-typescript.mdc
  .cursor/rules/python.mdc
  .cursor/rules/todo.mdc
Due: none

Change Ananda public contact link to go to the ananda.org contact page.
  site-config/config.json
Due: none

Minor UI tweaks.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
Due: none

Fix Bug that is restricting from being able to do a BLESS login in production on the public chatbot. Getting a 403 error Forbidden.
  __tests__/utils/server/apiMiddleware.test.ts
  utils/server/apiMiddleware.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Trivial change to force build
  __tests__/utils/server/apiMiddleware.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Allow unlisted all answers page for the public chat bot.
  site-config/config.json
Due: none

Public Chatbot: added an queueue system for CSS and JS to use the timestamp of the modified date as version, instead of static number
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Disable automatic closure of public chat window on screen resize to a small screen
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Remove file version number.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
Due: none

Add console logging for question reformulation timing.
  utils/server/makechain.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Clean up repetitive code and remove code that hides the intercom widget on page load.
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

use GPT-3.5-TURBO model for question reformulation to get a performance increase, hopefully a 500 milliseconds and more consistency in response time.
  __tests__/utils/server/makechain.test.ts
  utils/server/makechain.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Enhance markdown handling in MessageItem and TruncatedMarkdown components to convert GETHUMAN links to the Ananda contact page for the 'ananda-public' site.
  components/AnswerItem.tsx
  components/MessageItem.tsx
  components/TruncatedMarkdown.tsx
  pages/answers/[answerId].tsx
  pages/index.tsx
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Implement comprehensive tests for MessageItem and TruncatedMarkdown components, enhancing GETHUMAN link handling and ensuring proper rendering of markdown content across various scenarios.
  __tests__/components/MessageItem.test.tsx
  __tests__/components/TruncatedMarkdown.test.tsx
  __tests__/pages/index.test.tsx
  jest.config.cjs
  package-lock.json
  package.json
  scripts/typecheck.cjs
  tsconfig.test.json
  types/pdf-parse.d.ts
  types/styles.d.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Fixed Lint Errors
  scripts/typecheck.cjs
Due: none

Improve tests index page.
  __tests__/pages/index.test.tsx
  docs/TESTS-TODO.md
  package-lock.json
  package.json
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

adjust CSS for chatbot positioning, and implement Contact a Human button with Intercom integration. Hide Intercom button. So the user only brings up intercom through our interface.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Update Ananda Crawler to change page navigation wait condition from 'networkidle' to 'domcontentloaded', improving responsiveness during page load.
  python/data_ingestion/scripts/ananda_crawler.py
Due: none
