Repository anandaworldwide/ananda-library-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": [
    "npx tsc --noEmit",
    "npx jest --bail --findRelatedTests --passWithNoTests --no-coverage"
  ],
  "**/*.{js,jsx}": [
    "npx jest --bail --findRelatedTests --passWithNoTests --no-coverage"
  ]
}

Remove lint-staged configuration file
  .lintstagedrc.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Update lint-staged config to skip node_modules type checking
  .lintstagedrc.json
  utils/server/ipUtils.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add TypeScript test config with custom script for test files
  .lintstagedrc.json
  __tests__/components/LikeButton.test.tsx
  __tests__/components/TruncatedMarkdown.test.tsx
  scripts/typecheck.cjs
  scripts/typecheck.js
  tsconfig.test.json
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Remove type-checking script for TypeScript files
  scripts/typecheck.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Update lint-staged config and enhance README with testing details
  .lintstagedrc.json
  README.md
Due: none

Lower test coverage thresholds, fix typecheck script reference, and update TypeScript test config
  .lintstagedrc.json
  __tests__/components/Toast.test.tsx
  __tests__/utils/client/collectionsConfig.test.ts
  __tests__/utils/client/siteConfig.test.ts
  jest.config.cjs
  tsconfig.test.json
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Further lower test coverage thresholds for CI compatibility
  jest.config.cjs
Due: none

Disable coverage checking for individual test jobs in GitHub Actions
  .github/workflows/comprehensive-tests.yml
Due: none

Restore reasonable coverage thresholds now that individual tests don't check coverage
  jest.config.cjs
Due: none

Add --legacy-peer-deps to Vercel build to resolve mongodb dependency conflict
  vercel.json
Due: none

Downgrade MongoDB to v5.9.2 to resolve TypeORM compatibility issue
  package.json
  vercel.json
Due: none

Refactor GitHub Actions workflows for testing
  .github/workflows/comprehensive-tests.yml
  .github/workflows/tests.yml
Due: none

Update GitHub Actions workflows for testing
  .github/workflows/comprehensive-tests.yml
Due: none

Reduce coverage requirements to pass where we currently are.
  jest.config.cjs
Due: none

Update Jest configuration and GitHub Actions to improve test coverage reporting
  .github/workflows/comprehensive-tests.yml
  jest.config.cjs
Due: none

Don't generate any coverage for utilities also since all the coverage is reported in the downstream round.
  .github/workflows/comprehensive-tests.yml
Due: none

Add script to find untested files and update package.json
  package.json
  scripts/README.md
  scripts/find-untested-files.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add unit tests for answers API and answersUtils module
  __tests__/api/answers.test.ts
  __tests__/utils/server/answersUtils.test.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add custom Jest environment with TextEncoder/TextDecoder polyfills
  jest-environment-jsdom-with-polyfills.cjs
  jest.config.cjs
  jest.setup-server.ts
  jest.setup.ts
  mock-firebase-credentials.json
  package-lock.json
  package.json
  test/jest.setup.js
  utils/server/relatedQuestionsUtils.test.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Update allowed front-end domain in config.json from staging to vayudev
  site-config/config.json
Due: none

Update allowed front-end domains in config.json to replace staging domain with vayudev domain
  site-config/config.json
Due: none

Add staging domain to allowed front-end domains in config.json
  site-config/config.json
Due: none

feat: add mocks and resolve conflicts
  __tests__/api/chat/v1/mocks.ts
  __tests__/api/chat/v1/streaming.test.ts
  jest.config.cjs
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

fix: resolve conflicts and type issues in route.ts and mocks.ts
  __tests__/api/chat/v1/mocks.ts
  app/api/chat/v1/route.ts
  types/StreamingResponseData.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Revert a line of code to a simpler statement.
  app/api/chat/v1/route.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

test: enhance answersUtils tests with environment management and improved mock stream
  __tests__/utils/server/answersUtils.test.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

temp: add mocks and route changes for streaming tests
  app/api/chat/v1/route.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

feat: add @web-std/fetch and related polyfills for improved fetch API support
  __tests__/api/chat/v1/simple-request.test.ts
  __tests__/api/chat/v1/streaming.test.ts
  package-lock.json
  package.json
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

chore: remove temporary TypeScript configuration file
  .temp-tsconfig.json
Due: none

chore: update allowed front-end domains in config.json
  site-config/config.json
Due: none

Verbal notification when AI is done.
  .cursorrules
Due: none

Move button to bottom right corner, above intercom
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
Due: none

Fix ESLint issues.
  .eslintrc.json
  __tests__/api/chat/v1/route.test.ts
  __tests__/components/MessageItem.test.tsx
  package-lock.json
  package.json
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

feat: add timing metrics and tests for chat API performance
  __tests__/api/chat/v1/timing.test.ts
  __tests__/hooks/timing.test.tsx
  app/api/chat/v1/route.ts
  pages/index.tsx
  types/StreamingResponseData.ts
  utils/server/makechain.ts
  utils/server/pinecone-client.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Fix broken tests.
  __tests__/api/chat/v1/cors.test.ts
  __tests__/api/chat/v1/route.test.ts
  __tests__/api/chat/v1/streaming.test.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Change crystal clarity model to 4o Mini
  site-config/config.json
Due: none

Change test models
  __tests__/utils/server/makechain.test.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Updated back end performance reporting. This is a checkpoint, still more to clean up.
  app/api/chat/v1/route.ts
Due: npx tsc --noEmit, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage
