Repository anandaworldwide/ananda-library-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh, ./bin/run-pytest-for-lint-staged.sh

.lintstagedrc.json:

{
  "web/**/*.{js,jsx,ts,tsx}": [
    "./bin/run-typescript-check.sh",
    "./bin/run-eslint-for-lint-staged.sh",
    "./bin/run-jest-for-lint-staged.sh"
  ],
  "data_ingestion/**/*.py": ["./bin/run-pytest-for-lint-staged.sh"],
  "pyutil/**/*.py": ["./bin/run-pytest-for-lint-staged.sh"],
  "*.py": ["./bin/run-pytest-for-lint-staged.sh"]
}

Change the `FeedbackButton` so it pops up a modal and stays on page when the user gives feedback rather than going to the contact page.
  web/__tests__/components/DownvoteFeedbackModal.test.tsx
  web/__tests__/components/FeedbackButton.test.tsx
  web/__tests__/components/FeedbackModal.test.tsx
  web/__tests__/pages/contact.test.tsx
  web/src/components/DownvoteFeedbackModal.tsx
  web/src/components/FeedbackButton.tsx
  web/src/components/FeedbackModal.tsx
  web/src/components/layout.tsx
  web/src/pages/contact.tsx
  web/src/pages/index.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Various UI improvements per Nabha's suggestions.
  bin/run-jest-for-lint-staged.sh
  web/__tests__/components/ChatInput.test.tsx
  web/__tests__/components/SuggestedQueries.test.tsx
  web/__tests__/utils/server/titleGeneration.test.ts
  web/jest.setup.ts
  web/scripts/generate-titles.ts
  web/site-config/config.json
  web/src/components/ChatHistorySidebar.tsx
  web/src/components/ChatInput.tsx
  web/src/components/Header/AnandaHeader.tsx
  web/src/components/Header/AnandaPublicHeader.tsx
  web/src/components/Header/BaseHeader.tsx
  web/src/components/Header/CrystalHeader.tsx
  web/src/components/Header/JairamHeader.tsx
  web/src/components/SuggestedQueries.tsx
  web/src/components/layout.tsx
  web/src/hooks/useChatHistory.ts
  web/src/pages/index.tsx
  web/src/utils/server/titleGeneration.ts
  wordpress/analytics/README.md
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Attempt to fix production bug where clicking on a conversation in the sidebar that only had one question and answer would not change the title tag for the web page.
  web/src/pages/index.tsx
  web/src/utils/client/conversationLoader.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Change the new chat icon.
  web/src/components/Header/BaseHeader.tsx
  web/src/components/Header/CrystalHeader.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add newsletter feature. Change Users collection and Firestore so that the email address is only stored in the document ID, not also in a separate email field.
  NEWSLETTER-IMPLEMENTATION-PLAN.md
  README.md
  package-lock.json
  web/__tests__/api/addUser.test.ts
  web/__tests__/api/admin/newsletters/history.test.ts
  web/__tests__/api/admin/users/updateUser.test.ts
  web/__tests__/api/requestEmailChange.test.ts
  web/__tests__/api/unsubscribe.test.ts
  web/__tests__/api/verifyEmailChange.test.ts
  web/emails/newsletter.pug
  web/package.json
  web/scripts/add-test-users.cjs
  web/scripts/dev-email-redirect.ts
  web/scripts/newsletter-opt-in-migration.ts
  web/scripts/remove-duplicate-email-field.ts
  web/src/pages/admin/index.tsx
  web/src/pages/admin/newsletters.tsx
  web/src/pages/admin/users.tsx
  web/src/pages/admin/users/[userId].tsx
  web/src/pages/api/admin/addUser.ts
  web/src/pages/api/admin/digestSelfProvision.ts
  web/src/pages/api/admin/listActiveUsers.ts
  web/src/pages/api/admin/listPendingUsers.ts
  web/src/pages/api/admin/newsletters/history.ts
  web/src/pages/api/admin/sendNewsletter.ts
  web/src/pages/api/admin/users/[userId].ts
  web/src/pages/api/profile.ts
  web/src/pages/api/requestEmailChange.ts
  web/src/pages/api/unsubscribe.ts
  web/src/pages/api/verifyEmailChange.ts
  web/src/pages/settings.tsx
  web/src/types/user.ts
  web/src/utils/server/emailUtils.ts
  web/src/utils/server/firestoreUtils.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Remove newsletter implementation plan and related migration scripts; add resubscribe and unsubscribe API endpoints with enhanced error handling and site configuration integration.
  NEWSLETTER-IMPLEMENTATION-PLAN.md
  web/__tests__/api/resubscribe.test.ts
  web/__tests__/api/unsubscribe.test.ts
  web/emails/newsletter.pug
  web/scripts/newsletter-opt-in-migration.ts
  web/scripts/remove-duplicate-email-field.ts
  web/src/pages/api/admin/listActiveUsers.ts
  web/src/pages/api/resubscribe.ts
  web/src/pages/api/unsubscribe.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Update ChatHistorySidebar styles and change chat history icon: Adjust backdrop opacity and z-index for improved visibility; replace menu icon with history icon for better context.
  web/src/components/ChatHistorySidebar.tsx
  web/src/pages/index.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Refactor ChatHistorySidebar styles: Remove unnecessary padding and style definitions, enhance text styling for current conversation, and improve layout consistency.
  web/src/components/ChatHistorySidebar.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add a user leaderboard that admins can see.
  web/__tests__/api/admin/leaderboard.test.ts
  web/__tests__/pages/admin/leaderboard.test.tsx
  web/src/pages/admin/leaderboard.tsx
  web/src/pages/admin/users.tsx
  web/src/pages/api/admin/leaderboard.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Change so only super users can send newsletters.
  web/__tests__/api/admin/newsletters/history.test.ts
  web/src/pages/admin/newsletters.tsx
  web/src/pages/api/admin/newsletters/history.ts
  web/src/pages/api/admin/sendNewsletter.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Rename directory.
  data_ingestion/sql_to_pdf/.gitignore
  data_ingestion/sql_to_pdf/DejaVuSansCondensed.cw127.pkl
  data_ingestion/sql_to_pdf/DejaVuSansCondensed.pkl
  data_ingestion/sql_to_pdf/DejaVuSansCondensed.ttf
  data_ingestion/sql_to_pdf/README.txt
  data_ingestion/sql_to_pdf/db_to_pdfs.py
  data_ingestion/sql_to_pdf/filter-pdfs-to-new-dir.py
Due: ./bin/run-pytest-for-lint-staged.sh

Moved script.
  data_ingestion/sql_to_vector_db/process_anandalib_dump.py
Due: ./bin/run-pytest-for-lint-staged.sh

After a chat is deleted, clear out of the main chat area if it's currently being viewed
  web/src/components/ChatHistorySidebar.tsx
  web/src/pages/index.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

New evaluations.
  evaluation/3large_vs_3small/step3_evaluation_session.json
Due: none

add AI suggested follow-up questions.
  wordpress/plugins/ananda-ai-chatbot/ai-chatbot.php
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: none

enhance chat history functionality: fix bugs with non-login sites doing stuff with chat history that they shouldn't.
  web/site-config/config.json
  web/src/components/ChatHistorySidebar.tsx
  web/src/components/MessageItem.tsx
  web/src/hooks/useChatHistory.ts
  web/src/pages/api/document/[docId].ts
  web/src/pages/index.tsx
  web/src/pages/share/[docId].tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add blue dot to indicate when chat options have been modified. Add tests for it.
  web/__tests__/components/SearchOptionsDropdown.test.tsx
  web/src/components/SearchOptionsDropdown.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Fix mobile layout and scrolling problems with the chat sidebar.
  web/src/components/ChatHistorySidebar.tsx
  web/src/components/Header/BaseHeader.tsx
  web/src/components/Header/CrystalHeader.tsx
  web/src/hooks/useChatHistory.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Fix bug where titles weren't being generated.
  web/__tests__/utils/server/titleGeneration.test.ts
  web/src/app/api/chat/v1/route.ts
  web/src/utils/server/titleGeneration.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Added ananda.org and crystal clarity `includedLibraries` for LUCA on a branch as a test in preview
  web/site-config/config.json
Due: none

Add tips for Luca chats.
  web/__tests__/components/TipsModal.test.tsx
  web/__tests__/utils/client/loadTips.test.ts
  web/public/data/ananda/tips.txt
  web/src/components/ChatInput.tsx
  web/src/components/TipsModal.tsx
  web/src/utils/client/loadTips.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add a tip.
  web/public/data/ananda/tips.txt
Due: none

Don't send a digestSelfProvisioning ops email if there was no activity.
  web/__tests__/api/admin/digestSelfProvision.test.ts
  web/src/pages/api/admin/digestSelfProvision.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Update crawler to be more stable.
  data_ingestion/crawler/README.md
  data_ingestion/crawler/com.ananda.crawler.plist
  data_ingestion/crawler/crawler_supervisor.py
  data_ingestion/crawler/daemon/com.ananda.crawler.plist.template
  data_ingestion/crawler/daemon/daemon_manager.py
  data_ingestion/crawler/daemon/setup_logrotate.sh
  data_ingestion/crawler/log_rotate.py
  data_ingestion/crawler/website_crawler.py
Due: ./bin/run-pytest-for-lint-staged.sh

Add TipsCarousel and TipsModal components with tests. Enhance tips loading and user interaction features, including version tracking and blue dot notifications for new tips.
  web/__tests__/components/TipsCarousel.test.tsx
  web/__tests__/components/TipsModal.test.tsx
  web/__tests__/utils/client/loadTips.test.ts
  web/public/data/ananda/tips.txt
  web/src/components/ChatInput.tsx
  web/src/components/TipsCarousel.tsx
  web/src/components/TipsModal.tsx
  web/src/pages/api/user/tips.ts
  web/src/utils/client/loadTips.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add Google Analytics events.
  web/__tests__/components/TipsModal.test.tsx
  web/src/components/ChatInput.tsx
  web/src/components/TipsCarousel.tsx
  web/src/components/TipsModal.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add tips for Ananda and Crystal, including guidance on asking better questions, exploring source content, and multilingual support. Version 1 implemented.
  web/public/data/ananda-public/tips.txt
  web/public/data/crystal/tips.txt
Due: none

Refactor TipsCarousel tests: Remove progress indicator and keyboard navigation hint assertions to streamline test cases. Update tips text for clarity in multiple data files.
  web/__tests__/components/TipsCarousel.test.tsx
  web/__tests__/components/TipsModal.test.tsx
  web/public/data/ananda-public/tips.txt
  web/public/data/ananda/tips.txt
  web/public/data/crystal/tips.txt
  web/src/components/TipsCarousel.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add animated GIFs to the `TipsCarousel`
  docs/frontend-guidelines.md
  web/__tests__/components/TipsCarousel.test.tsx
  web/__tests__/utils/client/loadTips.test.ts
  web/public/data/ananda-public/tips.txt
  web/public/data/ananda/tips-config.json
  web/public/data/ananda/tips-language.gif
  web/public/data/ananda/tips-options.gif
  web/public/data/ananda/tips-sources.gif
  web/public/data/ananda/tips-stars.gif
  web/public/data/ananda/tips.txt
  web/public/data/crystal/tips.txt
  web/src/components/TipsCarousel.tsx
  web/src/components/TipsModal.tsx
  web/src/utils/client/loadTips.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

For Vivek Analytics: - Fixed bug in the python script - Added new event - If the config.json is setup, don't require config parameters
  wordpress/analytics/README.md
  wordpress/analytics/config.json.example
  wordpress/analytics/wordpress_plugin_analytics.py
Due: ./bin/run-pytest-for-lint-staged.sh

Add rule.
  .cursor/rules/frontend-ui.mdc
Due: none

Enhance SourcesList component with multi-level title formatting.
  web/__tests__/components/SourcesList.test.tsx
  web/src/components/SourcesList.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Update demo for one tip.
  web/public/data/ananda/tips-config.json
  web/public/data/ananda/tips-sources.gif
Due: none

Fix bug: new self-provision accounts were not setting newsletter by default.
  web/__tests__/api/auth/verifyAccess.test.ts
  web/src/pages/api/auth/verifyAccess.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Add site-specific access levels implementation plan
  SITE_SPECIFIC_ACCESS_LEVELS_TODO.md
Due: none

Change copy slightly.
  web/src/utils/server/userInviteUtils.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Ad header for photos site.
  web/src/components/Header/PhotoHeader.tsx
  web/src/components/layout.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Cleanup of error handling and Firebase collection naming.
  web/__tests__/api/admin/approvers.test.ts
  web/__tests__/api/admin/requestApproval.test.ts
  web/__tests__/components/AdminApproverSelector.test.tsx
  web/src/components/AdminApproverSelector.tsx
  web/src/pages/admin/approvals.tsx
  web/src/pages/api/admin/approvers.ts
  web/src/pages/api/admin/pendingRequests.ts
  web/src/pages/api/admin/requestApproval.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Remove to-do list from done project.
  web/ADMIN-APPROVER-SELECTION-PLAN.md
Due: none

Consolidate admin functions into one coherent left-rail navigation.
  web/__tests__/pages/admin/editUser.test.tsx
  web/__tests__/pages/admin/leaderboard.test.tsx
  web/__tests__/pages/admin/users.handleAddUsers.test.tsx
  web/__tests__/pages/admin/users.test.tsx
  web/src/components/AdminLayout.tsx
  web/src/components/Footer.tsx
  web/src/pages/admin/approvals.tsx
  web/src/pages/admin/downvotes.tsx
  web/src/pages/admin/index.tsx
  web/src/pages/admin/leaderboard.tsx
  web/src/pages/admin/model-stats.tsx
  web/src/pages/admin/newsletters.tsx
  web/src/pages/admin/users.tsx
  web/src/pages/admin/users/[userId].tsx
  web/src/pages/admin/users/add.tsx
  web/src/pages/admin/users/pending.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh
