Repository anandaworldwide/ananda-library-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": [
    "node scripts/typecheck.cjs",
    "npx jest --bail --findRelatedTests --passWithNoTests --no-coverage"
  ],
  "**/*.{js,jsx}": [
    "npx jest --bail --findRelatedTests --passWithNoTests --no-coverage"
  ]
}

Refactor main into a bunch of subroutines and add a batch success rate statistic.
  python/data_ingestion/scripts/ananda_crawler.py
Due: none

Rename script.
  README.md
  python/data_ingestion/scripts/website_crawler.py
Due: none

Update comments.
  python/data_ingestion/scripts/website_crawler.py
Due: none

Make report one line per error.
  python/data_ingestion/scripts/website_crawler.py
Due: none

Move crawler to its own directory and remove a few unneeded command line options
  README.md
  docs/file-structure.md
  python/data_ingestion/crawler/.gitignore
  python/data_ingestion/crawler/website_crawler.py
Due: none

Improve progress bar updates in delete_by_skip_pattern.py by adding updates for skipped vectors. Removed redundant logging for processed IDs to streamline output during vector processing.
  python/data_ingestion/crawler/delete_by_skip_pattern.py
Due: none

Attempted fix to the 'no sources' bug
  pages/index.tsx
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Update Embedding Model
  python/data_ingestion/scripts/pinecone_utils.py
  python/supercut/supercut.py
Due: none

Checkpoint on work to switch related questions over to use embeddings for finding related questions.
  .env.example
  __tests__/utils/embeddingUtils.ts
  components/Footer.tsx
  docs/relatedQuestions-TODO.md
  pages/admin/relatedQuestionsUpdater.tsx
  python/bin/manual_related_qs_updater.py
  utils/server/answersUtils.ts
  utils/server/relatedQuestionsUtils.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Remove unused methods.
  utils/server/answersUtils.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Fix, build and test issues.
  __tests__/api/chat/v1/route.test.ts
  __tests__/api/chat/v1/streaming.test.ts
  __tests__/api/relatedQuestions.test.ts
  pages/api/relatedQuestions.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Set a long maximum duration on this API call
  pages/api/relatedQuestions.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Another attempt to get past the Vercel 15-second limit.
  vercel.json
Due: none

Improved error message display.
  pages/admin/relatedQuestionsUpdater.tsx
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Trivial change to force re deployment.
  __tests__/utils/server/relatedQuestionsUtils.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Trivial commit to force the build
  __tests__/utils/server/relatedQuestionsUtils.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Trivial change to force a build.
  __tests__/utils/server/relatedQuestionsUtils.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Trivial change to force a bill.
  __tests__/utils/server/answersUtils.test.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Proper way to set Vercel max duration per support team.
  pages/api/relatedQuestions.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Trivial change to Force a build
  pages/api/relatedQuestions.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Force a build.
  pages/api/relatedQuestions.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Remove incorrect config
  vercel.json
Due: none

User interface improvements
  pages/admin/relatedQuestionsUpdater.tsx
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Refactor link handling in MessageItem component. Updated GETHUMAN link logic to use destructured props for improved readability and maintainability. Enhanced default link rendering for consistency.
  components/MessageItem.tsx
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Enhance chatbot CSS with new gradient animation and stacking context. Added keyframes for a rotating gradient effect on the chatbot bubble and adjusted z-index for proper layering of elements.
  wordpress/plugins/ananda-ai-chatbot/assets/css/chatbot.css
Due: none

Fix build:
  __mocks__/react-markdown.js
  __mocks__/remark-gfm.js
  jest.config.cjs
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add JWT or Vercel cron authentication middleware in relatedQuestions API. Updated export to use new authentication method, enhancing security for API requests.
  pages/api/relatedQuestions.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Fix test setup.
  .lintstagedrc.json
  jest.setup.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.test.json
  types/jest.d.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Remove dead files.
  docs/relatedQuestions-TODO.md
Due: none

Fixed build warnings
  next.config.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add tests and console logging to try to figure out why the cron job is failing with a 401.
  .lintstagedrc.json
  __tests__/api/relatedQuestions.test.ts
  jest.config.cjs
  jsconfig.json
  pages/api/relatedQuestions.ts
  tsconfig.json
  tsconfig.test.json
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

make cron job run more frequently to test it
  vercel.json
Due: none

Fix to try to get past 401 authorization errors on the Ananda and Jairam sites.
  pages/api/relatedQuestions.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Remove debugging stuff and turn the cron job back to two hours.
  pages/api/relatedQuestions.ts
  utils/server/relatedQuestionsUtils.ts
  vercel.json
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

First version of survey for chatbot WordPress plugin.
  middleware.ts
  pages/api/submitNpsSurvey.ts
  utils/server/pagesCorsUtils.ts
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Public Chatbot: fix bullet point list markdown error
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Removed test code
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Add allowed origins for CORS in `pagesCorsUtils.ts`. Included staging and main Ananda domains to enhance cross-origin resource sharing for the application.
  utils/server/pagesCorsUtils.ts
Due: node scripts/typecheck.cjs, npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Fixed a bunch of markdown issues, allowing the chatbot to handle multiple blcocks of paragraphs or lists
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
  wordpress/test.html
Due: npx jest --bail --findRelatedTests --passWithNoTests --no-coverage

Deleted test file
  wordpress/test.html
Due: none
