Repository anandaworldwide/ananda-library-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh, ./bin/run-pytest-for-lint-staged.sh

Implement dynamic headers and navigation updates in AdminLayout: Added site-specific headers for different configurations and integrated a new statistics link in the navigation.
  web/src/components/AdminLayout.tsx
  web/src/components/Footer.tsx
  web/src/pages/stats.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Renamed the repo
  .github/BRANCH_PROTECTION_SETUP.md
  .vscode/settings.json.example
  README.md
  bin/README.md
  bin/recreate_github_environments.sh
  bin/run-jest-for-lint-staged.sh
  bin/upload_secrets_to_github.py
  data_ingestion/crawler/HEALTH_CRON_README.md
  data_ingestion/crawler/com.ananda.crawler.plist
  data_ingestion/crawler/health_cron_check.py
  data_ingestion/crawler/health_daily_report.py
  data_ingestion/scripts/inspect_pinecone_namespace.py
  data_ingestion/scripts/list_pinecone_urls.py
  data_ingestion/scripts/query_pinecone_url.py
  docs/file-structure.md
  mega-rag-chatbot.code-workspace
  package-lock.json
  package.json
  package.json.backup
  web/package.json
  web/site-config/config.json
  web/src/pages/login.tsx
  ~/Library/LaunchAgents/com.ananda.log-rotate.plist
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh, ./bin/run-pytest-for-lint-staged.sh

Remove unnecessary tip.
  web/public/data/ananda-public/tips.txt
Due: none

Store all the rate limiting in a single table and get rid of all the crazy propagation of Firestore tables for rate limiting.
  bin/migrate_rate_limits.py
  firestore.rules
  requirements.in
  requirements.txt
  web/__tests__/api/admin/leaderboard.test.ts
  web/__tests__/utils/server/genericRateLimiter.test.ts
  web/src/pages/api/admin/leaderboard.ts
  web/src/pages/api/pruneRateLimits.ts
  web/src/utils/server/genericRateLimiter.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh, ./bin/run-pytest-for-lint-staged.sh

Remove temporary migration script that is no longer needed.
  bin/migrate_rate_limits.py
Due: ./bin/run-pytest-for-lint-staged.sh

Fix linter Errors
  web/__tests__/utils/server/genericRateLimiter.test.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Change copy slightly.
  web/src/utils/server/userInviteUtils.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Ad header for photos site.
  web/src/components/Header/PhotoHeader.tsx
  web/src/components/layout.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Cleanup of error handling and Firebase collection naming.
  web/__tests__/api/admin/approvers.test.ts
  web/__tests__/api/admin/requestApproval.test.ts
  web/__tests__/components/AdminApproverSelector.test.tsx
  web/src/components/AdminApproverSelector.tsx
  web/src/pages/admin/approvals.tsx
  web/src/pages/api/admin/approvers.ts
  web/src/pages/api/admin/pendingRequests.ts
  web/src/pages/api/admin/requestApproval.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Consolidate admin functions into one coherent left-rail navigation.
  web/__tests__/pages/admin/editUser.test.tsx
  web/__tests__/pages/admin/leaderboard.test.tsx
  web/__tests__/pages/admin/users.handleAddUsers.test.tsx
  web/__tests__/pages/admin/users.test.tsx
  web/src/components/AdminLayout.tsx
  web/src/components/Footer.tsx
  web/src/pages/admin/approvals.tsx
  web/src/pages/admin/downvotes.tsx
  web/src/pages/admin/index.tsx
  web/src/pages/admin/leaderboard.tsx
  web/src/pages/admin/model-stats.tsx
  web/src/pages/admin/newsletters.tsx
  web/src/pages/admin/users.tsx
  web/src/pages/admin/users/[userId].tsx
  web/src/pages/admin/users/add.tsx
  web/src/pages/admin/users/pending.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Remove to-do list from done project.
  web/ADMIN-APPROVER-SELECTION-PLAN.md
Due: none

Various admin UI adjustments.
  web/src/components/AdminLayout.tsx
  web/src/components/Footer.tsx
  web/src/pages/admin/index.tsx
  web/src/pages/index.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Better labeling of admin section, fix mobile layout issues.
  web/src/components/AdminLayout.tsx
  web/src/pages/admin/index.tsx
  web/src/pages/admin/leaderboard.tsx
  web/src/pages/admin/users/pending.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Added ananda.org and crystal clarity `includedLibraries` for LUCA on a branch as a test in preview
  web/site-config/config.json
Due: none

Move the scroll down button to the left so it doesn't overlap the feedback button.
  web/src/pages/index.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

System prompt improvements
  web/site-config/prompts/ananda-base.txt
  web/site-config/prompts/ananda-public-base.txt
  web/site-config/prompts/crystal-prompt.txt
  web/site-config/prompts/jairam-base.txt
  web/site-config/prompts/photo-base.txt
Due: none

When giving the user an `errorMessage`, give them a link to contact support.
  wordpress/plugins/ananda-ai-chatbot/assets/js/chatbot.js
Due: none

System prompt improvements. Don't quote Zoom links, event dates, or times.
  .remember/memory/project.md
  web/site-config/prompts/ananda-base.txt
  web/site-config/prompts/ananda-public-base.txt
Due: none

Enhance system prompts with language consistency guidelines and refined location blurb usage. Ensure responses match user's chosen language and clarify when to include location information.
  web/site-config/prompts/ananda-base.txt
  web/site-config/prompts/ananda-public-base.txt
  web/site-config/prompts/crystal-prompt.txt
  web/site-config/prompts/photo-base.txt
Due: none

Update `model_comparison` options.
  web/src/components/ModelComparisonChat.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Log in with password!
  docs/SECURITY-README.md
  web/__tests__/api/auth/loginWithPassword.test.ts
  web/src/components/PasswordChangeModal.tsx
  web/src/components/PasswordPromoBanner.tsx
  web/src/components/PasswordStrengthIndicator.tsx
  web/src/pages/admin/users/[userId].tsx
  web/src/pages/api/admin/users/[userId].ts
  web/src/pages/api/auth/changePassword.ts
  web/src/pages/api/auth/checkAuthMethod.ts
  web/src/pages/api/auth/loginWithPassword.ts
  web/src/pages/api/auth/requestPasswordReset.ts
  web/src/pages/api/auth/resetPassword.ts
  web/src/pages/api/auth/setPassword.ts
  web/src/pages/api/profile.ts
  web/src/pages/choose-auth-method.tsx
  web/src/pages/forgot-password.tsx
  web/src/pages/index.tsx
  web/src/pages/login.tsx
  web/src/pages/reset-password.tsx
  web/src/pages/set-password.tsx
  web/src/pages/settings.tsx
  web/src/pages/verify.tsx
  web/src/types/user.ts
  web/src/utils/client/authConfig.ts
  web/src/utils/server/passwordResetUtils.ts
  web/src/utils/server/passwordUtils.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Update PasswordPromoBanner text to clarify optional password login feature and enhance user guidance on settings for quicker access.
  web/src/components/PasswordPromoBanner.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Package upgrades
  data_ingestion/package.json
  package-lock.json
  package.json
  web/__tests__/utils/embeddingUtils.ts
  web/__tests__/utils/server/titleGeneration.test.ts
  web/jest.setup.ts
  web/package.json
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

One more change for the package upgrades.
  web/package.json
Due: none

Fix build problem
  requirements.txt
Due: none

Update dependabot configuration to change update schedule from weekly to daily for pip packages.
  .github/dependabot.yml
Due: none

Updated plan.
  DEMO-MEDIA-TODO.md
Due: none

Fix TypeScript build errors by excluding dev scripts from production compilation in `tsconfig.json`. Update ESLint configuration to extend Next.js core web vitals for improved linting standards.
  .remember/memory/self.md
  web/.eslintrc.json
  web/tsconfig.json
Due: none

Update crawler plist file and add management scripts and documentation
  data_ingestion/crawler/DAEMON_MANAGEMENT.md
  data_ingestion/crawler/com.ananda.crawler.plist
  data_ingestion/crawler/manage_crawler.sh
Due: none

Remove nodemailerand remove outdated dependency from package-lock.json.
  package-lock.json
  web/package.json
Due: none

Fix various build issues after package upgrades.
  .remember/memory/self.md
  web/__tests__/components/DeleteConversationModal.test.tsx
  web/src/components/AdminApproverSelector.tsx
  web/src/components/DeleteConversationModal.tsx
  web/src/components/EmailChangeModal.tsx
  web/src/components/PasswordPromoBanner.tsx
  web/src/components/SourcesList.tsx
  web/src/pages/admin/index.tsx
  web/src/pages/admin/newsletters.tsx
  web/src/pages/admin/users/pending.tsx
  web/src/pages/answers.tsx
  web/src/pages/answers/[answerId].tsx
  web/src/pages/choose-auth-method.tsx
  web/src/pages/forgot-password.tsx
  web/src/pages/index.tsx
  web/src/pages/login.tsx
  web/src/pages/magic-login.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Fix intermittent test failure.
  web/__tests__/components/ResendInvitationModal.test.tsx
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Get rid of unused node packages
  package-lock.json
  package.json
  web/__mocks__/uuid.js
  web/jest.config.cjs
  web/package.json
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Update reranking module documentation and requirements
  README.md
  requirements.txt
  reranking/.envrc
  reranking/.gitignore
  reranking/README.md
  reranking/requirements.in
  reranking/requirements.txt
Due: none

gpt-4.1 comparison promotion
  .remember/memory/project.md
  web/__mocks__/uuid.js
  web/jest.config.cjs
  web/site-config/prompts/ananda-base.txt
  web/src/app/api/chat/v1/route.ts
  web/src/components/AnswerComparison.tsx
  web/src/components/MessageItem.tsx
  web/src/components/ModelComparisonFeedbackModal.tsx
  web/src/pages/api/answers/[docId].ts
  web/src/pages/api/model-comparison-vote.ts
  web/src/pages/index.tsx
  web/src/utils/server/makechain.ts
Due: ./bin/run-typescript-check.sh, ./bin/run-eslint-for-lint-staged.sh, ./bin/run-jest-for-lint-staged.sh

Path conditions:
  ./bin/run-typescript-check.sh: any of: web/**/*.{js,jsx,ts,tsx}
  ./bin/run-eslint-for-lint-staged.sh: any of: web/**/*.{js,jsx,ts,tsx}
  ./bin/run-jest-for-lint-staged.sh: any of: web/**/*.{js,jsx,ts,tsx}
  ./bin/run-pytest-for-lint-staged.sh: ((any of: data_ingestion/**/*.py) or (any of: pyutil/**/*.py)) or (any of: *.py)
